@font-face {
  font-family: "retro";
  src: url("./retro.ttf") format("truetype");
}

.container {
  width: calc(100% - 8rem);
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FED700;
  padding: 4rem;
}

p {
  font-size: 1.25rem;
  font-family: 'retro';
  text-align: center;
  line-height: 3rem;
}

span {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
}

.mechanic {
  background-color: #feae00;
}

.theme {
  background-color: #fe5d00;
}

button {
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: black;
  color: white;
  font-family: 'retro';
}